<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carlos Masuchi-Portafolio</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/fontello.css' %}">
	<link rel="stylesheet" href="{% static 'core/css/styles.css' %}">

</head>

<body>
	<header>
		<div class="container">
			<!-- Logo Nombre y Menu -->
			<div class="nav row rounded-top align-items-stretch justify-content-between">
				<!-- Nombre de usuario -->
				<div
					class="col-md-12 col-lg logo d-flex align-items-center justify-content-center justify-content-lg-start">
					<a class="nombre" href="{% url 'portfolio' %}">Carlos Masuchi</a>
					<samp class="icono icon-dot"></samp>
					<p>Diseño Grafico</p>
				</div>
				<!-- Menu de navegación -->
				<nav class="col-md-12 col-lg-auto menu d-flex align-items-stretch flex-wrap flex-sm-nowrap">
					<a href="{% url 'portfolio' %}" class="c-1 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Portafolio</span>
							<i class="icono icon-briefcase"></i>
						</div>
					</a>
					<a href="{% url 'about' %}" class="c-2 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Acerca de</span>
							<i class="icono icon-user"></i>
						</div>
					</a>
					<a href="{% url 'contact' %}" class="c-3 d-flex align-items-center">
						<div class="d-flex flex-column text-center">
							<span>Contacto</span>
							<i class="icono icon-mail"></i>
						</div>
					</a>
				</nav>
			</div>

			<!--Slider -->
			{% block slider %}
			{% endblock %}
		</div>
	</header>

	<!--Contenido-->
	{% block content %}
	{% endblock %}
	<!--Piede pagina -->
	<footer>
		<div class="container">
			<div class="row redes-sociales justify-content-center">
				<div class="col-auto">
					<a href="#" class="icono icon-facebook facebook"></a>
					<a href="#" class="icono icon-twitter twitter"></a>
					<a href="#" class="icono icon-instagram instagram"></a>
				</div>
				<div class="col-12 text-center copyright">
					<samp>
						<p>Copyright &copy; 2019 · Carlos Masuchi (Diseñador Grafico) </p>
					</samp>
				</div>
			</div>

		</div>
	</footer>

	<script src="{% static 'core/js/jquery-3.4.1.min.js' %}"></script>
	<script src="{% static 'core/js/popper.min.js' %}"></script>
	<script src="{% static 'core/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'core/js/scripts.js' %}"></script>
</body>

</html>